{% extends 'base.html.twig' %}

{% block title %}Main Page{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main_page.css') }}">
 {% endblock %}

{% block sidebar %} {{ parent() }} {% endblock %}

{% block content %}
    <div class="content-block-video">
        <video autoplay muted>
            <source src="https://cdn.shopify.com/s/files/1/0453/5035/5103/files/mobilex.mp4?v=1651578696" type="video/mp4">
            Failed to load video.
        </video>

        <div class="content-block-text">
            <h2 style="color: white;">NEW COLLECTION</h2>
            <p><br>Explore the latest innovations in electronics!</p>
            <a href="#" style="text-decoration: underline; color: white;">EXPLORE COLLECTIONS</a>
        </div>
    </div>
{% endblock %}

{% block product %}
    <div class="container my-5">
        <h2 class="text-center mb-4">Featured Products</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for product in products %}
                <div class="col">
                    <div class="card product-card">
                        <img class="img-fluid photo-padding" src="{{ asset(product.main_picture) }}" alt="{{ product.name }}">
                        <div class="card-body text-center">
                            <a href="{{ path('product_show', { id: product.id }) }}">
                                <h5 class="card-title">{{ product.name }}</h5>
                            </a>
                            <p class="card-text">{{ product.price }} UAH</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer_block %} {{ parent() }} {% endblock %}

{% block javascripts %}
<script>
    const burgerMenu = document.querySelector('.burger-menu');
    const nav = document.querySelector('.nav');

    burgerMenu.addEventListener('click', () => {
        nav.classList.toggle('active');
        burgerMenu.classList.toggle('open');
    });

    document.querySelectorAll('.nav-item').forEach(item => {
        item.addEventListener('mouseenter', function () {
            let arrow = this.querySelector('.arrow');
            if (arrow) {
                arrow.style.transform = 'rotate(90deg)';
            }
        });
        item.addEventListener('mouseleave', function () {
            let arrow = this.querySelector('.arrow');
            if (arrow) {
                arrow.style.transform = 'rotate(0deg)';
            }
        });
    });

    window.addEventListener('resize', () => {
        if (window.innerWidth > 767) {
            nav.classList.remove('active');
            burgerMenu.classList.remove('open');
        }
    });
</script>
{% endblock %}
