{% extends 'base.html.twig' %}

{% block sidebar %}{{ parent() }}{% endblock sidebar %}
{% block product %}{% endblock product %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col photos">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for picture in pictures %}
                        <div class="swiper-slide">
                            <img src="{{ picture|trim }}" alt="{{ product.name }}">
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>                 
        <div class="col descriptions">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            new Swiper(".swiper-container", {
                loop: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev"
                },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <style>
        .swiper-container {
            width: 100%;
            height: 400px;
        }
        .swiper-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
{% endblock %}
